*{
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{

    margin: 0;
    padding: 0;

    background:
    radial-gradient(
    circle at top left,
    #0d3069,
    transparent 40%

    ),
    radial-gradient(

    circle at top right,
    #cb6f6f,
    transparent 60%
    ),

        radial-gradient(
    circle at bottom left,
    #757832,
    transparent 40%

    )
     #2f2c85;




}


.weather{

    border: 2px solid #c4d0c6;
    box-shadow: #63748e;
   background-color: #6497ba;
    padding: 20px;
    border-radius: 8px;
    height: 600px;
    width: 700px;
     background: rgba(255,255,255,0.15);
     backdrop-filter: blur(10px);



}

img{

    width: 50x;
    height: 50px;

}

.con{
    

    display: flex;
    flex-direction: column;
    align-items: center;

}
body{

        display:flex;
      justify-content:center;
        align-items:center;
        height:100vh;
}
h1{

    background-color: #152339;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    color: #ce4242;


}
input{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
search{


    padding: 10px 20px;
    color:#0d3069

}
footer{


display: flex;
justify-content: end;
align-items: end;



}