*{
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{


}


.weather{
  
   background-color: #6497ba;
    padding: 20px;
    border-radius: 8px;
    height: 400px;
    width: 400px;


  

}
.con{
    



    


}
body{

        display:flex;
      justify-content:center;
        align-items:center;
        height:100vh;
}
h1{

    background-color: #294d85;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    color: #d94343;


}
input{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
search{


    padding: 10px 20px;
    color:#173a74





}